.Task {
	background-color: #ebecf0;
	border-radius: 10px;
	width: 272px;
	align-self: flex-start;
	margin: 2rem 2.5%;
}

.Task-title {
	display: flex;
	justify-content: space-between;
	margin: 0px 0.8rem;
	font-size: 16px;
	font-weight: 700;
}

.Task-title-form {
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0.8rem;
}

.Task-title-form button {
	outline: none;
	border: none;
	cursor: pointer;
}

.Task-title-form input {
	outline: none;
	width: 200px;
	border: none;
	padding: 0.5em 1em;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 700;
	outline: none;
	font-family: 'Roboto', sans-serif;
	resize: none;
}

.Task-add {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0px 0.6rem 0.5rem;
}

.Task-add textarea {
	font-family: 'Roboto', sans-serif;
	width:100%;
	margin-right: 10px;
	outline: none;
	border: none;
	border-radius: 6px;
	padding: 5px;
	/* resize: none; */
}

.Task-add button {
	border: none;
	outline: none;
	font-size: 20px;
	cursor: pointer;
}

.Task-options {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 10px 0px;
}

.Task-options button {
	outline: none;
	border: none;
	cursor: pointer;
}
